/* work sans font form google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* nav start */
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 40px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #3C354F;
}

.btn {
    width: 262px;
    height: 45px;
    text-align: center;
    font-size: 18px;
    color: #3C354F;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

}

.text-color {
    color: #FF42A5;
}

/* nav end */


/* banner section start */
header {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;


}

.img {
    display: flex;
}

.gamer-pic {
    width: 711px;
    height: 446px;
    flex-shrink: 0;
}

.banner {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.banner-greating {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}

.banner-title {
    font-size: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.tex-1 {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;

}

.tex-2 {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;

}

.tex-3 {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
}

.btn-primary {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;

}

.btn-second {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 3rem;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;

}

.teams-container-text {
    text-align: center;
    padding: 30px;
}

.text-content {
    color: #0B0223;

    font-size: 48px;
    font-weight: 700;

}

.text-desgin {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;

}

.text-p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px;
}

.teams-img-container {
    padding: 0 240px;
    border-radius: 16px;
    display: flex;
    gap: 20px;

}

/* freature */
.feature {
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
    padding-right: 210px;
    padding-left: 240px;


}

.text-feature {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;

}

.light-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-grating {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-freature {
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
}

.btn-search {
    display: flex;
    gap: 10px;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
}

.text-direction {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}





footer {

    width: 1920px;
    height: 636px;
    background: #0B0223;
}

.footer-desgin {

    text-align: center;
     
    padding:120px 0 120px;
    color: #FFF;
    font-size: 45px;
    font-weight: 700;

}

.color {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-decoration {
    display: flex;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    list-style: none;
    gap: 60px;
    text-align: center;
   padding: 0 500px;
}
.web-privacy{
    display: flex;
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
padding: 0 550px;
gap: 60px;
list-style: none;


}

.footer-text-decoration{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
}

/* mobile responsive */
@media screen and (max-width: 576px) {
    header {}

    nav,
    .feature,
    .teams-container-text,
    .btn-freature,
    .footer
     {
        flex-direction: column;
    }
}

/* end main section */


/* start footer section */



/* tablet device */
@media screen and (min-width: 576px) and (max-width: 960px) {

    nav,
    .teams-container-text,
    .btn-freature {
        flex-direction: column;
    }

    padding: 50px;
}